
.LabelHeader {
  -fx-padding: 60px 0 0 80px;
 

  -fx-max-width: 360px;
  -fx-max-height: 360px;

  -fx-border-radius: 24px;
  -ms-flex-item-align: center;
}

.Content_header {
  -fx-padding: 14px 12px;
  -fx-max-width: 360px;

  -fx-background-color: #f9f9f9;
  -fx-border-color: #dddddd;

  -fx-border-radius: 24px;
}

#userPoint{
  -fx-padding: 60px 0 0 30px;
  -fx-fill: red;
}




#ContentWrapper {
  -fx-padding: 30px 0 0 80px;
  -ms-flex-direction: row;
}

.Index{

}

.QuestionRender {
  -fx-background-color: lightblue;
  -fx-max-width: 1200px;
  -fx-pref-width: 1200px;
}

#quest_content {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-padding: 10;
  -fx-wrap-text: true;
  -fx-max-width: 1200px;
  -fx-pref-width: 1200px;
}
#option_toggle{

}



#optionsBox {
  -fx-padding: 10px 0px 0px 0px;
}

#optionsBox .radio-button {
  -fx-font-size: 16px;
  -fx-padding: 5;
}

#BtnArea {
  -fx-padding: 20px 0 0 0px;
}

.button {
  -fx-background-color: #64a866;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-padding: 10 20;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.button:hover {
  background-color: #74b977;
}

#resultText {
  -fx-font-size: 18px;
  -fx-fill: red;
  -fx-padding: 10;
}

/* 
.countDowncLock {
    -fx-pref-width: 280px;
    -fx-pref-height: 200px;
    -fx-alignment: center; 
    -fx-background-color: #ffffffd7; 
    -fx-padding: 0; 
    -fx-border-color: #14e96d; 
    -fx-border-width: 2; 
    -fx-border-radius: 50%;
}

#countDownLabel {
    -fx-font-size: 36px; 
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; 
    -fx-padding: 0; 
    -fx-border-color: #666666; 
    -fx-border-width: 1; 
    -fx-border-radius: 50%;
} */
