
#questionLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}


#optionsBox .radio-button {
    -fx-font-size: 16px;
    -fx-padding: 5;
}


.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#resultLabel {
    -fx-font-size: 18px;
    -fx-text-fill: red;
    -fx-padding: 10;
}
